.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
    h1 {
      margin-left: 10px;
    }
  }
}

.backToHome {
  margin: 3rem 0 0;
}
